@font-face {
  font-family: "Serious Sans";
  src: url("./SeriousSans/ttf/SeriousSans-Regular.ttf");
}

@font-face {
  font-family: "Serious Sans Italic";
  src: url("./SeriousSans/ttf/SeriousSans-Italic.ttf");
}

@font-face {
  font-family: "Serious Sans Bold";
  src: url("./SeriousSans/ttf/SeriousSans-Bold.ttf");
}

@font-face {
  font-family: "Serious Sans Bold Italic";
  src: url("./SeriousSans/ttf/SeriousSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Serious Sans Light";
  src: url("./SeriousSans/ttf/SeriousSans-Light.ttf");
}

@font-face {
  font-family: "Serious Sans Light Italic";
  src: url("./SeriousSans/ttf/SeriousSans-LightItalic.ttf");
}

@media (min-width: 440px) {
  #main {
    max-width: 70%;
  }
  .twoColumnsIfFits {
    display: flex;
    justify-content: space-evenly;
  }
  #previewButtons {
    display: flex;
    justify-content: center;
  }
}

body {
  line-height: 1.2em;
  background-color: #1f1f1f;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Serious Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  font-size: 1.2rem;
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
}

#nerdFont :link,
#nerdFont :visited {
  color: #d4d4d4;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

ul,
ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button,
input {
  padding: 0.1em;
  align-self: center;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  background-color: #d4d4d4;
  color: #1e1e1e;
  border-radius: 0;
}

button.serious,
input.serious {
  padding-top: 0.3em;
}

:link {
  color: #3ec0aa;
  text-decoration: none;
}

:visited {
  color: #70d0fe;
  text-decoration: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.selected {
  background-color: #464646;
  color: #d4d4d4;
}

.mobileShow {
  display: none;

  @media (max-width: 440px) {
    display: block;
  }
}

#newExampleTextButton {
  width: fit-content;
}

#newExampleTextInput {
  width: 14em;
}

.serious#newExampleTextInput {
  height: 1.15em;
}

.serious.seriousOriginal {
  font-family: "Serious Sans";
}

.serious.seriousItalic {
  font-family: "Serious Sans Italic";
}

.serious.seriousBold {
  font-family: "Serious Sans Bold";
}

.serious.seriousBoldItalic {
  font-family: "Serious Sans Bold Italic";
}

.serious.seriousLight {
  font-family: "Serious Sans Light";
}

.serious.seriousLightItalic {
  font-family: "Serious Sans Light Italic";
}

.seriousButton {
  padding-top: 0.3em;
  width: 16em;
}

#seriousOriginalButton {
  font-family: "Serious Sans";
}

#seriousItalicButton {
  font-family: "Serious Sans Italic";
}

#seriousBoldButton {
  font-family: "Serious Sans Bold";
}

#seriousBoldItalicButton {
  font-family: "Serious Sans Bold Italic";
}

#seriousLightButton {
  font-family: "Serious Sans Light";
}

#seriousLightItalicButton {
  font-family: "Serious Sans Light Italic";
}
