@font-face {
  font-family: "Serious Sans";
  src: url("./SeriousSans/ttf/SeriousSans.ttf");
}

@font-face {
  font-family: "Serious Sans Italic";
  src: url("./SeriousSans/ttf/SeriousSansItalic.ttf");
}

@font-face {
  font-family: "Serious Sans Bold";
  src: url("./SeriousSans/ttf/SeriousSansBold.ttf");
}

@font-face {
  font-family: "Serious Sans Bold Italic";
  src: url("./SeriousSans/ttf/SeriousSansBoldItalic.ttf");
}

@font-face {
  font-family: "Serious Sans Light";
  src: url("./SeriousSans/ttf/SeriousSansLight.ttf");
}

@font-face {
  font-family: "Serious Sans Light Italic";
  src: url("./SeriousSans/ttf/SeriousSansLightItalic.ttf");
}

@media (min-width: 440px) {
  #main {
    max-width: 70%;
  }
  #downloads {
    display: flex;
    justify-content: space-evenly;
  }
  #previewButtons {
    display: flex;
    justify-content: center;
  }
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  font-size: 1.2rem;
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

ul,
ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  width: 12em;
}

button,
input {
  align-self: center;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

:link {
  color: #70d0fe;
}

:visited {
  color: #3ec0aa;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.selected {
  background-color: #464646;
  color: #d4d4d4;
}

.serious {
  font-family: "Serious Sans";
}

.seriousItalic {
  font-family: "Serious Sans Italic";
}

.seriousBold {
  font-family: "Serious Sans Bold";
}

.seriousBoldItalic {
  font-family: "Serious Sans Bold Italic";
}

.seriousLight {
  font-family: "Serious Sans Light";
}

.seriousLightItalic {
  font-family: "Serious Sans Light Italic";
}
