@font-face {
  font-family: "Serious Sans";
  src: url("./SeriousSans/ttf/SeriousSans.ttf");
}

@font-face {
  font-family: "Serious Sans Italic";
  src: url("./SeriousSans/ttf/SeriousSansItalic.ttf");
}

@font-face {
  font-family: "Serious Sans Bold";
  src: url("./SeriousSans/ttf/SeriousSansBold.ttf");
}

@font-face {
  font-family: "Serious Sans Bold Italic";
  src: url("./SeriousSans/ttf/SeriousSansBoldItalic.ttf");
}

@font-face {
  font-family: "Serious Sans Light";
  src: url("./SeriousSans/ttf/SeriousSansLight.ttf");
}

@font-face {
  font-family: "Serious Sans Light Italic";
  src: url("./SeriousSans/ttf/SeriousSansLightItalic.ttf");
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
}

ul,
ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  width: 12em;
  align-self: center;
}

:link {
  color: aqua;
}

:visited {
  color: rgb(0, 188, 138);
}

.selected {
  background-color: #d4d4d4;
  color: #1e1e1e;
}

.serious {
  font-family: "Serious Sans";
}

.seriousItalic {
  font-family: "Serious Sans Italic";
}

.seriousBold {
  font-family: "Serious Sans Bold";
}

.seriousBoldItalic {
  font-family: "Serious Sans Bold Italic";
}

.seriousLight {
  font-family: "Serious Sans Light";
}

.seriousLightItalic {
  font-family: "Serious Sans Light Italic";
}
